body {
    font-family: 'Sono', sans-serif;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.pricing-plan {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background: rgb(35, 13, 119);
    background: linear-gradient(142deg, rgba(35, 13, 119, 1) 0%, rgba(76, 45, 201, 1) 34%, rgba(37, 134, 179, 1) 65%, rgba(21, 153, 165, 1) 100%);
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan-features li {
    margin-bottom: 20px;
}

.plan-button {
    padding: 10px;
    background-color: #ffc800;
    color: #fff;
    border-radius: 5px;
    border: none;
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 100%;
    }
}